
<div class="container">
<div class="d-flex bd-highlight"> 
    <div class="p-2 flex-grow-1 bd-highlight">

        <h1 class="mx-auto"> Problemas </h1> 
    </div> 

    <div class="p-2 bd-highlight"> 
        <a href="#" class="btn btn-primary">Nuevo Problema +</a>
    </div> 
</div> 


        <% @issues.each do |issue| %>
            <div class="d-flex bd-highlight shadow p-3 mb-5 bg-white rounded">                                
            <div class="p-2 flex-grow-1 bd-highlight">
                <h5 class="card-title"><%= issue.title %></h5>
                <p class="card-text">Creado por <%= issue.user.email %> el <%=issue.created_at.strftime("%d de %b del %Y")%> </p>
            </div>
            <div class="p-2 bd-highlight">
                <p class="card-text "><%= (issue.open) ? "Abierto" : "Cerrado"  %></p>
            </div>   
            <div class="p-2 bd-highlight"> 
                <a href="/issues/<%= issue.id %>" class="btn btn-primary">Ver</a>
            </div> 
            </div> 
                    
        <% end %> 
                
            

        </div>

    </div>
</div>